@font-face {
    font-family: 'Nexa XBold';
    src: url("../fonts/axen-bold.otf");
}
@font-face {
    font-family: 'Nexa Light';
    src: url("../fonts/axen-light.otf");
}
@font-face {
    font-family: 'Nexa Regular';
    src: url("../fonts/axen-regular.otf");
}